<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <div class="form-group mt-4">Aluno: {{form.Aluno}}</div>
            <div class="form-group mt-4">Curso: {{form.Curso}}</div>
            <div class="form-group mt-4">Turma: {{form.Turma}}</div>
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>

    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>